# FusionDB reactor browser

Lists all reactors side by side (one column per reactor) with every available field, including derived values. Columns with warnings are highlighted in yellow; mismatches beyond the 1% tolerance are highlighted in red (red overrides yellow). Warning messages are echoed below the table.

In [1]:
from dataclasses import fields as dataclass_fields
from pathlib import Path
import re
import warnings

import pandas as pd  # Pandas is required for styling

from fusiondb.loader import find_reactor_dirs, load_reactor_yaml
from fusiondb.reactors_class import Reactor

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)

# Load reactors and capture warnings per reactor and field
root = Path('.')
reactors = {}
cell_status: dict[tuple[str, str], str] = {}
warning_messages: dict[str, list[str]] = {}
field_patterns = [
    re.compile(r"Inconsistent values for ([A-Za-z0-9_]+)", re.IGNORECASE),
    re.compile(r"^([A-Za-z0-9_]+) differs", re.IGNORECASE),
    re.compile(r"^([A-Za-z0-9_]+) updated", re.IGNORECASE),
    re.compile(r"(density_profile_file)", re.IGNORECASE),
]

def classify_status(msg: str) -> str:
    text = msg.lower()
    if "within tolerance" in text:
        return "yellow"
    if "inconsistent" in text or "updated from" in text or "not found" in text:
        return "red"
    return "yellow"

for reactor_dir in find_reactor_dirs(root):
    path = reactor_dir / 'reactor.yaml'
    with warnings.catch_warnings(record=True) as caught:
        warnings.simplefilter('always')
        reactor = load_reactor_yaml(path)

    reactors[reactor.id] = reactor
    messages = [str(w.message) for w in caught]
    warning_messages[reactor.id] = messages

    for msg in messages:
        field = None
        for pat in field_patterns:
            m = pat.search(msg)
            if m:
                field = m.group(1)
                break
        if field is None:
            continue
        cell_status[(field, reactor.id)] = classify_status(msg)

# Build a DataFrame with every dataclass field as rows
field_names = [f.name for f in dataclass_fields(Reactor)]
table_data: dict[str, list[object]] = {}
for rid, reactor in sorted(reactors.items()):
    table_data[rid] = [getattr(reactor, name) for name in field_names]

df = pd.DataFrame(table_data, index=field_names)

def style_cells(data: pd.DataFrame) -> pd.DataFrame:
    styles = pd.DataFrame('', index=data.index, columns=data.columns)
    for (field, rid), status in cell_status.items():
        if field in styles.index and rid in styles.columns:
            if status == 'red':
                styles.loc[field, rid] = 'color: #b30000; font-weight: 600;'
            elif status == 'yellow':
                styles.loc[field, rid] = 'color: #b58900;'
    return styles

styled = df.style.apply(style_cells, axis=None)
display(styled)

# Show warnings below the table
for rid, msgs in warning_messages.items():
    if not msgs:
        continue
    print(f'Warnings for {rid}:')
    for msg in msgs:
        print(f' - {msg}')

Warnings for ARC_2015:
 - A differs from Aspect ratio but is within tolerance: existing 2.92, new 2.920353982300885
 - R differs from Aspect ratio but is within tolerance: existing 3.3, new 3.2995999999999994
 - a differs from Aspect ratio but is within tolerance: existing 1.13, new 1.1301369863013697
 - V_p differs from Tokamak volume but is within tolerance: existing 153.0, new 153.04473400881614
 - a differs from Tokamak volume but is within tolerance: existing 1.13, new 1.1298348420001203
 - R differs from Tokamak volume but is within tolerance: existing 3.3, new 3.2990354308493552
 - S_p differs from Tokamak surface but is within tolerance: existing 215.23, new 215.2283581386006
 - B0 differs from Toroidal beta but is within tolerance: existing 9.2, new 9.191457954691616
 - beta_T differs from Toroidal beta but is within tolerance: existing 0.019, new 0.019000000000000003
 - Inconsistent tau_E: keeping 0.64 (explicit) over 1100.5075540778432 (Energy confinement time)
Warnings for DEMO_2018:
 - A differs from Aspect ratio but is within tolerance: existing 3.1, new 3.103448275862069
 - R differs from Aspect ratio but is within tolerance: existing 9.0, new 8.99
 - a differs from Aspect ratio but is within tolerance: existing 2.9, new 2.903225806451613
 - a differs from Tokamak volume but is within tolerance: existing 2.9, new 2.900000000000001
 - R differs from Tokamak volume but is within tolerance: existing 9.0, new 8.999999999999998
 - P_sep_over_R differs from P_sep ratio but is within tolerance: existing 18.9, new 18.933333333333334
 - P_sep differs from P_sep ratio but is within tolerance: existing 170.4, new 170.1
 - R differs from P_sep ratio but is within tolerance: existing 9.0, new 9.015873015873018
 - P_sep_B_over_q95AR differs from P_sep metric but is within tolerance: existing 9.2, new 9.200541780689388
 - B0 differs from P_sep metric but is within tolerance: existing 5.86, new 5.859654929577465
 - q95 differs from P_sep metric but is within tolerance: existing 3.89, new 3.8902290790088827
 - A differs from P_sep metric but is within tolerance: existing 3.1, new 3.1001825565366423
Warnings for STEP2024:
 - Inconsistent kappa: keeping 3.0 (explicit) over 2.597675981602159 (ST elongation vs aspect ratio)
 - Inconsistent kappa: keeping 3.0 (explicit) over 3.136 (Elongation 95%)
 - a differs from Tokamak volume but is within tolerance: existing 2.0, new 1.9999999999999998
 - R differs from Tokamak surface but is within tolerance: existing 3.6, new 3.5999999999999996